<!DOCTYPE html>
<html lang="en" ng-app="CListApp">
<head>
  <meta charset="UTF-8">
  <title>CList</title>
  <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body ng-controller="SearchController">
  <div class="container navbar" ng-controller="SearchController">
    <div class="col-md-4 topnav">
      <div class="col-xs-2 col-xs-offset-3
      col-md-6 col-md-offset-3
      col-lg-6 col-lg-offset-3">
      <h1 class="center">C-Now</h1>

      <div class="btnList center">
        <button class="listedBtn btn btn-default">login</button>
        <button class="listedBtn btn btn-default">register</button>
        <button class="listedBtn btn btn-default">logout</button>
      </div>
    </div>
    </div>
    <div class="col-md-8 navsearch form-group">
      <button class="btn btn-default" id="searchButton" ng-click="searchWord()">Search</button>

      <input type="text" class="form-control"id="searchBar" placeholder="Search" ng-model="NewSearch.term"/>
    </div>
  </div>

  <div class="container side" ng-controller="ResultsController">
    <div class="col-md-4 sidebar">
      <button class="btn btn-default" id="searchAgainButton" ng-click="searchAgain()">SearchAgain</button>

      <ul id="searchTerm">
        <li  ng-repeat="word in newData ">{{ word.keyword.term }}</li>
      </ul>
    </div>



    <div class="col-md-8 mainbody">

        <div ng-repeat="results in newData">
          <ul class="resultsList">
            <a>...</a>
            <li class="resultsText" ng-repeat="items in results.postings | limitTo:10 ">
              <a>{{ items.heading }}</a>
            </br><img class="resultsImg" ng-repeat="pics in items.images | limitTo:1 " ng-src={{pics.full}} />
        </br><a> {{items.source }}</a><a>:  </a><a>{{items.price | currency : symbol : fractionSize}}</a>
<!--        </br><a> {{items.external_url}}</a>
-->
        </li>
      </ul>

        </div>

    </div>

  </div>
  <script src="bower_components/jquery/dist/jquery.min.js"> </script>

  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"> </script>
  <script src="bower_components/angular/angular.min.js"> </script>
  <script src="bower_components/angular-route/angular-route.min.js"> </script>
  <script src='https://cdn.firebase.com/js/client/2.0.4/firebase.js'></script>
  <script src="https://cdn.firebase.com/libs/angularfire/0.9.1/angularfire.min.js"></script>


<!--  <script src="js/factories.js"> </script>
-->  <script src="js/filters.js"> </script>


  <script src="js/controllers.js"> </script>







</body>
</html>
