<div>
<form name="loginForm" ng-submit="UserController.login()" novalidate>
  <div class="form-group" ng-class="{'has-error': loginForm.$dirty && !UserController.email}">
    <label>Email Address</label>
    <input class="form-control" type="email" ng-model="UserController.email" required>
  </div>
  <div class="form-group" ng-class="{'has-error': loginForm.$dirty && !UserController.password}">
    <label>Password</label>
    <input class="form-control" type="password" ng-model="UserController.password" required>
  </div>
  <div class="listedBtn btn btn-default" ng-class="{disabled: loginForm.$invalid}" ng-click="UserController.createUser()">Register</div>
  <input type="submit" class="listedBtn btn btn-default" value="Login" ng-class="{disabled: loginForm.$invalid}">
</form>
</div>
