<header ng-include="'views/header.html'"></header>
<div class="container side">
  <div class="col-md-4 sidebar">
    <ul id="searchTerm">
      <li  id="searchTermButton" ng-repeat="($id, post) in newData | orderBy: '-$id'">
        <td>

          <a type="button" ng-click="removeItem(post.$id)" class="btn btn-xs btn-default" id="removeBtn">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </td>
        <a href="/#/{{post.$id}}" class"resultWord">{{post.keyword.term}}</a>
        <div class="fbID">post.$id ={{post.$id}}</div>
        </li>
    </ul>
  </div>

  <div class="col-md-8 mainbody">
    <div ng-repeat="results in newData | orderBy: '-$id'">
      <ul class="resultsList" >
        <li class="resultsText" ng-repeat="(itemId,items) in results.postings | limitTo:10 " ng-show"results.postings" >
          <div class="btn-group btn-group-xs" role="group">
            <td>
              <a type="button" class="btn btn-primary" href="/#/{{results.$id}}/postings/{{itemId}}" >
                <span class="glyphicon glyphicon-plus"></span>
              </a>
              <a type="button" ng-click="removeItem(itemId)" class="btn btn-xs btn-default">
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </td>
          </div></br>

          <div class="fbID">{{itemId}}</div>
          <a>{{ items.heading }}</a></br>
          <img href="/#/{{post.$id}}" class="resultsImg" ng-repeat="pics in items.images | limitTo:1 " ng-src={{pics.full}} /></br>
          <a> {{items.source }}</a><a>:  </a><a>{{items.price | currency : symbol : fractionSize}}</a>
        </li>
        <div class="noResults" ng-show="!results.postings" >
          <p>There are no results avaiable for you.</p>

        </div>
      </ul>
    </div>
  </div>
</div>
