<div class="btn-group btn-group-xs" role="group" ng-controller="SinItemController">
  <td>
    <a type="button" class="btn btn-primary" href="/#/">
      <span class="glyphicon glyphicon-plus"></span>

    </a>
    <a type="button" class="btn btn-default" ng-click"reSearch()">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
    <a type="button" ng-click="removeItem(itemId)" class="btn btn-xs btn-default">
      <span class="glyphicon glyphicon-remove"></span>
    </a>
  </td>
</br>
<h3>{{sinfbPostShot.heading}}</h3>
<h3>$id {{ id }}</h3>
<ul class="resultsList" >
  <li class="resultsText" ng-repeat="images in sinfbPostShot.images">
    <img ng-src={{images}}</img>
  </li>
</ul>
<p>1{{sinfbArraysinfbPostShot.itemId}}</p></br>
<p>3{{sinfbPostShot.url}}</p></br>
<p>4{{sinfbPostShot.body}}</p></br>
<p>5{{postings}}</p>
<img ng-src={{sinfbPostShot.images}}</img>
</div>
