.container {
  margin: 0 auto;
  padding: 0;
}

h1{
  color: white;
}
.navbar, .sidebar, .mainbody {
  border: solid black;
}
.topnav{
  background: black;
  height: 25%;
}
#searchbar{
  height: 1.5em;
  width: 600px;
  font-size:3em;
}
.sidebar, .mainbody{
  height: 800px;
}

#searchTerm li {
  font-size: 4em;
}

/////RESULTS/////////


.resultsText{
  font-size: .5em;
  width: 5%
  height: 10%;

}
.resultsImg{
  height: 40px;
  width: 40px;
}
.resultsList {
  max-width:130px;
}
.resultsList li {
  max-width: 100%;
  display: inline-block;
}
